@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
html{font-size: 1.12rem;}
h2{font-size: 1.20rem;}
*{font-family: "AR One Sans", sans-serif;@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"ARRR" 10;
  box-sizing:border-box;}
a{cursor: pointer; text-decoration: none; color: black;}

#trigram{font-size: 50px;}
#logo{width: 175px;}
#logo_inv{width: 140px;}
.header_items a{margin: 0px auto;}
.main_navigation{display: none;}
.main_navigation *{margin: 10px;}
.navigation_items{display: flex; flex-direction: column;}
.hundred_to_fifty_layout{display:flex; flex-direction: column;}
.gallery {display: flex;flex-direction: column; gap: 30px; justify-content: center; overflow: visible;}
.gallery img {width: 95%; object-fit: cover; border-radius: 20px; transition: box-shadow 0.2s ease;}
.gallery img:hover{box-shadow: 10px 5px 5px #a2e3f380;}
.fifty_fifty_layout img{width: 100%;}

.zoom{width: 90vw !important; border: 3px solid #ffffff80;}

.full_width_video{width: 100%; height: 400px;}
.full_width_iFrame{width: 100%; height: 300px;}
.full_width_image{width: 100%; border-radius: 20px;}
.margin10{margin: 10px;}
.padding20{padding: 20px;}
.padding30{padding: 30px;}
.padding50{padding: 50px;}


.bigger_font{font-size: larger;}
.smaller_font{font-size:smaller;}
.center_text{text-align: center;}

.flex_row{display: flex;}
.flex_column{display: flex; flex-direction: column;}
.flex_wrap{flex-wrap: wrap;}
.space_around{justify-content: space-around;}
.center_horizontally{justify-content: center;}
.center_vertically{align-items: center;}

.caveat_font{font-family: "Caveat", cursive; font-optical-sizing: auto; font-weight: 400; font-style: normal;}

.main_background{background-color: #CAF1DE;}
.black_background{background-color: black;}
.white_font{color: white;}
.blue_font{color: rgb(25, 18, 114);}
.bold{font-weight: 600;}
.italic{font-style: italic;}

.round_corners{border-radius: 20px;}

@media only screen and (min-width: 820px) {
  html{font-size: 1.16rem;}

  #trigram{display: none;}

  .header_items{justify-content: center;}
  .full_width_image{width: 80%; display:block; margin: auto;}
  .full_width_video{width: 80%; height: 400px; display:block; margin: 0 auto;}

  .main_navigation{display: block !important;}
  .navigation_items{display:flex; flex-direction: row; justify-content: space-evenly;}
  
  .landing_subpage p{width:700px; margin: 0 auto;}

  
  .hundred_to_fifty_layout{flex-direction: row; flex-wrap: nowrap; }
  .hundred_to_fifty_layout iframe{flex: 0 0 40%;}
  .hundred_to_fifty_layout p{margin: 0 auto; display: block;}

  .gallery {flex-direction: row; flex-wrap: wrap;}
  .gallery img{width: 42%;}

  .fifty_fifty_layout{flex-direction: row!important;} .fifty_fifty_layout img{width: 50vw;}
}

  
@media only screen and (min-width: 1200px) {
  html{font-size: 1.26rem;}

  .hero{display: flex; align-items: center;}
  .hero img{flex: 1;
            width: 50%;
            display: block;
            object-fit: cover;}
  .hero > div{flex: 1;}
  .full_width_video{width: 60%; height: 500px;}


  .landing_subpage p{width:1000px;}

  .zoom{width: 65vw !important;}

  .fifty_fifty_layout img{width: 30vw;}
}

  footer{height: 150px; background-color: #000000;}
  footer a{font-family: "Anonymous Pro", monospace; font-weight: 400; font-style: normal;}

